/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/*
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
.playBoxBoxes {
  border: purple 10px solid;
  background-color: pink;
  width: 5em;
  height: 5em;
}
.letter-button :active {
  background-color: white;
}
